API_NAME=inscripcion_crud
SERVICE_NAME=inscripcion_crud
API_BASE_DIR=github.com/udistrital
API_PORT=8082
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
INSCRIPCION_CRUD__LOG=
RUN_MODE=
